@import './variables.scss';

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-top: -120px ;
    position: absolute;
    justify-content: center;
    position: relative;
    margin-bottom: -10rem;
   
}

.cardStyle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 392px;
    padding-right: 5px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    background-color: #fafafa;
    h2{
        font-family: 'Jura';
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        text-align: center;
        margin-bottom: 6rem;
        color: $maincolor;
        }
}



p{
font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
margin-top: 1rem;
color: $textcolor;
}

@media (max-width: 767px) {
    .cardStyle {
        width: 80%; 
        max-width: 250px;
        height: auto; 
        padding-top: 1rem;
        margin: 0.5rem; 
        padding: 5px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px; 
        margin-top: 1rem; 
        padding:  0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 1rem;
     
    }
    .cardStyle h2{
         font-size: 24px;
        padding-top: 2rem;
         }
         .cardStyle p{
             font-size: 14px;
           }
        .cardStyle figure{
             padding-bottom: -7rem;
         }
}

 