@import './variables.scss';

.imageContainer {
    position: relative;
    width: 100%; 
    height: auto;
    max-width: 100%; 
    
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.textStyle{
    position: absolute;
    top: 20%;
    right: -15%;
    transform: translate(-50%, -50%);
    color: $bgcolor; 
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    
}

.title {
    font-family: "Jura", sans-serif;
    font-size:8rem; 
    font-weight: bold;
    padding: 0 1rem;
    margin-bottom: -1.5rem;
    padding-right: 4.5rem;
    span{
        color: $maincolor;
    }
}

.subtitle {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 19px;
    margin-top: 10px;
    color: $bgcolor;
    font-weight: normal;
    padding-right: -1.5rem;
   
}

@media (max-width: 767px) {
    .textStyle {
        top: 10%; 
        right: 2%; 
        transform: translateY(-10%); 
        max-width: 95%; 
    }

    .title {
        font-size: 4rem;
        padding-right: 2rem; 
        font-weight: bold;
    }

    .subtitle {
        font-size: 16px; 
        margin-top: 1rem; 
        font-weight: 400;
    }
}

