@import './variables.scss';

.navStyle{
display: flex;
justify-content: space-between;
margin-right: 0;
border-bottom: 8px solid $maincolor;
width: 100%;
}
ul{
 display: inline-flex;
}
 li{
   list-style-type: none;
}
a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h2{
    font-size: 32px;
    font-weight: 400;
    font-family: "Jura", sans-serif;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    padding-top: 0.5rem;
    span{
        color:$maincolor;
       
    }
}
