@import './variables.scss';

.personGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
    padding-bottom: 4rem;
    h2{
        align-items: center;
    }
}

.personCard {
    
    padding: 20px;
    text-align: center;
   border-bottom: 8px solid #2C3B6F;
}

.personImage {
    width: 196px;
    height: 196px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

.personName {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: $maincolor;
}

.personText {
    font-size: 1rem;
    color: $textcolor;
}
