@import './variables.scss';

.personGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    padding: 20px;
    padding-bottom: 4rem;
    h2{
        align-items: center;
    }
}

.personCard {
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-bottom: 8px solid #2C3B6F;
    margin: 25px;
  
}

.personImage {
    width: 196px;
    height: 196px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

.personName {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: $maincolor;
    padding-left: 1rem;
}

.personText {
    font-size: 1rem;
    color: $textcolor;
    
}

@media (max-width: 767px) {
    .personGrid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px; 
    }

    .personCard {
        padding: 10px;
    }

    .personImage {
        width: 140px;
        height: 140px;
    }

    .personName {
        font-size: 1rem;
    }

    .personText {
        font-size: 0.9rem;
    }
}
